<div class="route-table-wrapper">
  <table class="route-table">
    <thead>
      <tr>
        <th>Ruta</th>
        <th>Paradas</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of rutas; let i = index"
          (click)="seleccionar(i)">
        <td [class.selected-cell]="selectedIndex === i">{{ item.nombre }}</td>
        <td [class.selected-cell]="selectedIndex === i">{{ item.points?.length || 0 }}</td>
        <td [class.selected-cell]="selectedIndex === i">
          <img
            src="delete.png"
            alt="Eliminar"
            class="delete-icon"
            (click)="$event.stopPropagation(); eliminar(i)"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-actions-right">
    <button class="btn btn-primary" [disabled]="!selectedRoute" [routerLink]="selectedRoute ? ['/admin/assign-stops', selectedRoute.id] : null">
      Asignar paradas
      <img src="bus-stopV.png" alt="icono" style="width:20px;height:20px;" />
    </button>

  </div>
</div>
