<div class="page-top-bar">
  <span class="page-title">Total de Pasajeros</span>
</div>
<div class="separator"></div>

<div class="passenger-total-page-container">
  <div class="overlay"></div>
  <div class="content-wrapper">
    <div class="page-layout">
      <!-- Filtros en la izquierda -->
      <div class="filters-section">
        <app-metrics-range-filter 
          title="Filtros de Total de Pasajeros"
          (filterChange)="onFilterChange($event)">
        </app-metrics-range-filter>
      </div>

      <!-- Gráfica en la derecha -->
      <div class="chart-section">
        <div class="chart-wrapper">
          <app-passengers-total></app-passengers-total>
        </div>
      </div>
    </div>
  </div>
</div>