<div class="passenger-total-page-container">
  <div class="overlay"></div>
  <div class="content-wrapper">
    
    <div class="page-layout">
      <!-- Filtros en la izquierda -->
      <div class="filters-section">
        <app-metrics-filter 
          title="Filtros de Total de Pasajeros"
          [initialFilterData]="initialFilterData"
          (filterChange)="onFilterChange($event)">
        </app-metrics-filter>
      </div>

      <!-- Gráfica en la derecha -->
      <div class="chart-section">
        <div class="chart-wrapper">
          <app-passengers-total></app-passengers-total>
        </div>
      </div>
    </div>
  </div>
</div>
