<div class="page-top-bar">
  <span class="page-title">Crear Rutas</span>
</div>
<div class="separator"></div>

<div class="add-routes-page-container">
  <div class="content-wrapper">
  
    <div class="main-content">
      <div class="form-section">
        <app-create-route-form #formComponent
          (confirmSave)="onShowConfirmAlert()"
          (cancelSave)="onHideConfirmAlert()"
          (routeSaved)="onRouteSaved()"
        ></app-create-route-form>
      </div>
      <div class="map-section">
        <div class="map-wrapper">
          <app-google-map 
            #mapComponent 
            [formCompleted]="formComponent?.formCompleted || false"
            (routeTraced)="onFormCompleted()"
            (routeCleared)="onRouteCleared()">
          </app-google-map>
        </div>
      </div>
    </div>
    <div *ngIf="showConfirmAlert" class="modal-overlay">
      <div class="modal-center">
        <app-confirm-save-alert
          (cancel)="onCancelSave()"
          (save)="onConfirmSave()">
        </app-confirm-save-alert>
      </div>
    </div>
    <div *ngIf="showSaveAlert" class="modal-overlay">
      <div class="modal-center">
        <app-save-alert (close)="onCloseSaveAlert()"></app-save-alert>
      </div>
    </div>
  </div>
</div>
