<div class="page-top-bar">
  <span class="page-title">Intervalo de Confianza</span>
</div>
<div class="separator"></div>

<div class="confidence-interval-page-container">
  <div class="overlay"></div>
  <div class="content-wrapper">
    
    <div class="page-layout">
      <!-- Sección de filtros -->
      <div class="filters-section">
        <app-metrics-filter 
          title="Filtros de Intervalo de Confianza"
          (filterChange)="onFilterChange($event)">
        </app-metrics-filter>
      </div>

      <!-- Sección de la gráfica -->
      <div class="chart-section">
        <div class="chart-wrapper">
          <app-confidence-interval [chartData]="chartData"></app-confidence-interval>
        </div>
      </div>
    </div>
  </div>
</div>