<div class="route-page-container">
  <div class="top-row">
    <app-header
      [routes]="routes"
      (searchTextChange)="onSearchTextChange($event)"
      (routeSelected)="onRouteSelected($event)">
    </app-header>
  </div>

  <div class="bottom-row">
    <div class="cards-section">
      <app-card-container [routes]="filteredRoutes" [getColectivesForRoute]="getColectivesForRoute.bind(this)" [selectedRoute]="selectedRoute" (routeSelected)="onRouteSelected($event)"></app-card-container>
    </div>
    <div class="map-section">
      <app-citizen-map [selectedRoute]="selectedRoute" ngSkipHydration></app-citizen-map>
    </div>
  </div>
</div>
