<h2 class="chart-title">Velocidad Minima y Maxima </h2>

<div class="chart-container">
  <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="barChartType">
  </canvas>
</div>

<div class="summary">
  <div class="summary-info">
    <div class="info-item">
      <span class="label">Velocidad Mínima</span>
      <span class="value">{{ minSpeed}} km/h</span>
    </div>
    <div class="info-item">
      <span class="label">Velocidad Máxima</span>
      <span class="value">{{ maxSpeed  }} km/h</span>
    </div>
  </div>
  
  <div class="legend-custom">
    <div class="legend-item">
      <span class="indicator solid green"></span>
      <span class="text">Velocidad Mínima</span>    
    </div>
    <div class="legend-item">
      <span class="indicator solid red"></span>
      <span class="text">Velocidad Máxima</span>
    </div>
  </div>
</div>