.search-bar {
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: center;

  .search-input {
    display: flex;
    align-items: center;
    background-color: #2f2f2f;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 100%;
    color: #a7c957;

    i {
      color: #a7c957;
      margin-right: 0.5rem;
    }

    input {
      border: none;
      background: transparent;
      outline: none;
      color: #ffffff;
      font-size: 1rem;
      flex: 1;
    }

    input::placeholder {
      color: #a7c957;
    }
  }
}
