<div class="search-bar" [class.expanded]="searchExpanded">
  <div class="tabs" *ngIf="!searchExpanded">
    <a class="tab" (click)="goToHome()">Home</a>
    <a class="tab" (click)="goToRoutes()">Rutas</a>
    <a class="tab" (click)="goToAboutUs()">Conócenos</a>
  </div>

  <button *ngIf="showSearchButton" class="search-button" (click)="toggleSearch()">
    <img src="search-icon.png" alt="Buscar" class="search-icon" />
  </button>

  <input
    *ngIf="searchExpanded"
    type="text"
    class="search-input"
    placeholder="Buscar..."
    [(ngModel)]="searchText"
    (ngModelChange)="onSearchTextChange()"
    [disabled]="false"
    autocomplete="off"
  />
  <ul *ngIf="searchExpanded && filteredRoutes.length > 0" class="autocomplete-list">
    <li *ngFor="let route of filteredRoutes" (click)="onSelectRoute(route)">
      {{ route.nombre }}
    </li>
  </ul>
</div>
