<div class="home-container">
  <app-header></app-header>
  <div class="main-content">
    <div class="logo-section">
      <img src="home-main.png" alt="Fondo" class="background-image" />
      <div class="logo-overlay">
        <img src="Logo_TuxRuta.png" alt="Logo" class="logo" />
      </div>
    </div>
    <div class="actions-section">
      <div class="card">
        <div class="card-image" style="background-image: url('knowT.png');">
          <div class="card-overlay">
            <div class="card-text">Conoce Tuxtla sin miedo a perderte</div>
          </div>
        </div>
        <a routerLink="/routes" class="card-button">Ver Rutas →</a>
      </div>

      <div class="card card--login">
        <div class="card-image" style="background-image: url('logH.png');">
          <div class="card-overlay">
            <div class="card-text">Gestiona y monitoriza el transporte con nosotros</div>
          </div>
        </div>
        <a routerLink="/new-login" class="card-button">Inicia sesión →</a>
      </div>

      <div class="card" style="margin-top: -2.5rem;">
        <div class="card-image" style="background-image: url('Computer.png');">
          <div class="card-overlay">
            <div class="card-text">Conoce al maravilloso equipo detrás de TuxRuta</div>
          </div>
        </div>
        <a routerLink="/about-us" class="card-button">Conócenos →</a>
      </div>
    </div>
  </div>
</div>
