<div class="page-top-bar">
  <span class="page-title">Distribución Normal</span>
</div>
<div class="separator"></div>

<div class="normal-point-page-container">
  <div class="overlay"></div>
  <div class="content-wrapper">
    
    <div class="page-layout">
      <!-- Filtros en la izquierda -->
      <div class="filters-section">
        <app-metrics-range-filter (filterChange)="onFilterChange($event)"></app-metrics-range-filter>
      </div>

      <!-- Gráfica en la derecha -->
      <div class="chart-section">
        <div class="chart-wrapper">
          <app-normal-distribution></app-normal-distribution>
        </div>
      </div>
    </div>
  </div>
</div>
