html, body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-color: #212121;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

html.no-scroll {
  overflow: hidden;
}

.no-scroll-container {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}
