<div class="confirm-save-modal-backdrop">
  <div class="confirm-save-modal-container">
    <button class="close-button" (click)="onCancel()">×</button>
    <h2>¿Estas seguro de guardar esto</h2>
    <p class="subtitle">Podra borrar lo realizado en el apartado “Gestion de rutas”</p>
    <div class="button-group">
      <button type="button" class="cancel-btn" (click)="onCancel()">Cancelar</button>
      <button type="button" class="save-btn" (click)="onSave()">Guardar</button>
    </div>
  </div>
</div>
