<div class="confirm-save-modal-backdrop open">
  <div class="confirm-save-modal-container">
    <button class="close-button" (click)="onCancel()">×</button>
    <div class="modal-content">
      <div class="alert-header-with-icon">
        <div class="icon-box">
          <img src="confirm.png" alt="icon" width="28" height="28" />
        </div>
        <div class="alert-header-text">
          <h2>¿Estas seguro de guardar esto</h2>
          <p class="subtitle">Para verificar el guardado exitoso dirígete al apartado correspondiente</p>
        </div>
      </div>
    </div>
    <div class="button-group">
      <button type="button" class="cancel-btn" (click)="onCancel()">Cancelar</button>
      <button type="button" class="save-btn" (click)="onSave()">Guardar</button>
    </div>
  </div>
</div>
